<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="http://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">
    <title>Log In</title>
    <style>
        form {
            color: #386abb;
            background-color: #ffdf30;
            border: 3px solid #386abb;
            border-radius: 15px;
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <a href="/home">Home</a>
    </nav>
    <div class="maincontainer">
        <h2>Welcome Back! Please Log In Below.</h2>
        <a href="/register_page">Don't have an account?</a>
        {% with login_errors = get_flashed_messages(category_filter=['login']) %}
            {% if login_errors %}
                {% for message in login_errors %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/login" method="post">
            <label for="username">Username:</label>
            <input type="text" name="username" class="input_text">
            <label for="password">Password:</label>
            <input type="password" name="password" class="password">
            <input type="submit" value="Log In" class="submit">
        </form>
    </div>
</body>
</html>