* {
    margin: 0;
    padding: 0;
    font-family: 'Pokemon Solid', sans-serif;                                          
}

.navbar {
    margin: 20px;
}

h4 {
    font-size: large;
}

.maincontainer {
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.maincontainer h1, .maincontainer h2 {
    font-family: 'Pokemon Solid', sans-serif;
    color: #ffdf30;
    font-size: 80px;
    letter-spacing: 6px;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #386abb;
}
.maincontainer h2 {
    font-size: 60px;
}

h1:hover, .navbar:hover, a:hover, h2:hover, h4:hover, p:hover {
    cursor: default;
}

.navbar a, .input_text, .submit, .password{
    text-decoration: none;
    font-family: sans-serif !important;
}

img {
    width: fit-content;
    height: fit-content;
}

body {
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form label {
    margin-top: 16px;
}

.input_text, .password {
    font-size: 18px;
    width: 90%;
    padding: 6px;
    border-radius: 10px;
    text-align: center;
    height: 20px;
    border: none;
}

p {
    text-align: center;
    color: brown;
}

.submit, .navbar a {
    padding: 10px;
    border-radius: 10px;
    background-color: #ffdf30;
    color: #386abb;
    margin-top: 4%;
    font-size: 16px;
    font-weight: bold;
    border: none;
}

.submit:hover, .navbar a:hover {
    animation-name: hoverbutton;
    animation-duration: 700ms;
    animation-fill-mode: both;
    cursor: default;
}

@keyframes hoverbutton {
    to {background-color: #386abb;}
    to {color: #ffdf30;}
}

label {
    font-size: 24px;
    font-weight: bold;
}

.info, .info * {
    color: black;
    font-family: sans-serif;
    font-size: 22px;
}

.info:hover, .info *:hover {
    cursor: default;
}

.innercontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30px;
    background-image: url('https://assets.wallpapersin4k.org/uploads/2017/03/Pokemon-Box-Wallpapers-1.png');
    background-size: 100%;
    max-width: 300px;
    min-width: 300px;
    height: fit-content;
    background-repeat: no-repeat;
    margin-top: 10px;
    min-height: 250px;
}

.innercontainer * {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 5px;
    display: inline;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 3px solid #386abb;
    border-radius: 15px;
    padding: 20px 20px 20px 5px;
}

.boxlabel {
    font-family: sans-serif !important;
    position: relative;
    color: black;
    font-weight: bold;
    font-size: 18px;
    top: 45px;
}

.move_list {
    display: flex;
    flex-wrap: wrap;
    max-height: 600px;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.move_list li {
    font-family: sans-serif !important;
}

#moves {
    margin: 0;
    padding: 0;
    display: inline;
}